body {
    font-family: 'Preahvihear', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(1, 0, 20);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url('ruta/de/tu/imagen/de/fondo.jpg');
}

header>img {
    height: 120px;
    position: fixed;
    top: 50px;
    transition: top 0.3s ease;
}

.fondoHeader {
    height: 200px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #ffcc00;
    font-weight: bold;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    text-align: center;

}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main h2 {
    color: #ffcc00;
}

.temporadas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
    color: #ffcc00;
    font-weight: bold;
    text-align: center;
}

.temporadas img {
    height: 70px;
}

.tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
    width: auto;

}

.tarjetas div {
    height: 150px;
    width: 300px;

}

.tarjetas div h1 {
    font-size: 50px;
}

.tarjetas>a {
    text-decoration: none;
    text-shadow: 2px 2px #000000;
}

.tarjeta {
    width: 1hr;
    margin: 10px;
    padding: 15px;
    background-color: rgb(10, 0, 97);
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.tarjeta-especies {
    width: 1hr;
    height: 150px;
    margin: 10px;
    padding: 15px;
    background-image: url(media/img/fondoTarjetaEspecies.jpg);
    color: #ffcc00;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.tarjeta-calendario {
    width: 1hr;
    height: 150px;
    margin: 10px;
    padding: 15px;
    background-image: url(media/img/fondoTarjetaCalendario.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffcc00;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.tarjeta-eventos {
    width: 1hr;
    height: 200px;
    margin: 10px;
    padding: 15px;
    background-image: url(media/img/fondoTarjetaEventos.jpg);
    color: #ffcc00;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.tarjeta-galeria {
    width: 1hr;
    height: 150px;
    margin: 10px;
    padding: 15px;
    background-image: url(media/img/fondoTarjetaGaleria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffcc00;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.tarjeta-aparejos {
    width: 1hr;
    height: 150px;
    margin: 10px;
    padding: 15px;
    background-image: url(media/img/fondoTarjetaAparejos.jpg);
    background-size: contain;
    background-repeat: repeat;
    color: #ffcc00;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.tarjeta-tienda {
    width: 1hr;
    height: 150px;
    margin: 10px;
    padding: 15px;
    background-image: url(media/img/fondoTarjetaTienda.png);
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffcc00;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.tarjeta-contacto {
    width: 1hr;
    height: 150px;
    margin: 10px;
    padding: 15px;
    background-image: url(media/img/fondoTarjetaContacto.jpg);
    background-size: contain;
    background-color: #F5F5F5;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffcc00;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.tarjetas h1 {
    font-size: 70px;

}

.tarjeta a {
    text-decoration: none;
    color: #ffcc00;
}

.tarjeta img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}



/* Agrega estos estilos al final de tu archivo styles.css o en un nuevo archivo de estilos */


section {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input,
textarea {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


#cuadroPesca {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tabla-especie {
    width: auto;

}
#cuadroPesca img{
    height: 250px;
}

#cuadroPesca p {
    margin-bottom: 50px;
    color: white;
    display: flex;
    width: 80%;
    font-size: 20px;
    background-color: #00008b98;
    text-align: justify;
    box-shadow: 2px;
    border-radius: 9px;
    padding: 12px;
    box-shadow: 2px 2px 2px 0 black;
}

th,
td {
    padding: 12px;
    text-align: left;
    background-color: #ffcc00;
    border-bottom: 1px solid rgb(10, 0, 97);

}

th {
    background-color: #444;
    color: #ffcc00;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.main-especies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.tabla-especies-general {
    margin-bottom: 70px;
    width: 80%;
}


.sargo {
    background-image: url(media/img/sargo.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffcc00;
    background-color: black;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ffcc00;
    border-radius: 8px;
}

.lubina {
    background-image: url(media/img/lubina.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffcc00;
    background-color: black;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ffcc00;
    border-radius: 8px;
}

.dorada {
    background-image: url(media/img/dorada.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffcc00;
    background-color: black;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ffcc00;
    border-radius: 8px;
}

.raspallon {
    background-image: url(media/img/raspallon.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffcc00;
    background-color: black;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ffcc00;
    border-radius: 8px;
}

.vidriada {
    background-image: url(media/img/vidriada.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffcc00;
    background-color: black;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ffcc00;
    border-radius: 8px;
}

.sargoPicudo {
    background-image: url(media/img/sargoPicudo.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffcc00;
    background-color: black;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ffcc00;
    border-radius: 8px;
}

.sargoImperial {
    background-image: url(media/img/sargoImperial.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffcc00;
    background-color: black;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ffcc00;
    border-radius: 8px;
}

.herrera {
    background-image: url(media/img/herrera.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffcc00;
    background-color: black;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ffcc00;
    border-radius: 8px;
}


.baila {
    background-image: url(media/img/baila.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffcc00;
    background-color: black;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ffcc00;
    border-radius: 8px;
}

.robalo {
    background-image: url(media/img/robalo.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffcc00;
    background-color: black;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ffcc00;
    border-radius: 8px;
}



/* Agrega el siguiente estilo al final de tu archivo styles.css */
section#contacto {
    margin-bottom: 160px;
    /* Puedes ajustar este valor según sea necesario */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    z-index: 1;
}


.contenedor {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
}

#TT_Calendario_000000l1n {
    margin-bottom: 100px;
    height: auto;
    width: 1fr;
}

#miDiv {
    width: 100%;
    height: 100px;
    border: 2px solid #ffcc00;
}

#texto {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    header {
        flex-direction: column;
    }
    .tabla-especies-general {
        margin-top: 0px;
    }
    #cuadroPesca > img{
        height: 141px;
    }

    .main-especies {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;

    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    nav a {
        font-size: 18px;
        margin: 10px;

    }

    footer {
        font-size: 12px;
        height: 1fr;
    }
}